@model LB1.Models.Image

@{
    ViewData["Title"] = "images";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="Index" asp-controller="Images" method="post" enctype="multipart/form-data">
<input type="file" name="F" /><br>
<input type="submit" value="Загрузить" />
</form>
<hr/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
